infrastructure/.terraform/*
infrastructure/.terraform.lock.hcl
infrastructure/.terraform.lock.info
infrastructure/.terraform.tfstate.lock.info
infrastructure/.idea/*
infrastructure/.idea
infrastructure/terraform.tfvars
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
.idea
.idea/*
.vscode
.project
.tmp
.DS_Store
*.log
.history
